---
import { Icon } from 'astro-icon/components';
import BaseLayout from '../layouts/BaseLayout.astro';
import NavBar from '../components/NavBar.astro';

---

<BaseLayout>
<NavBar></NavBar>
<h1>Bienvenido a mi Agencia Web</h1>
  <Icon name="material-symbols:rocket-launch" size={48} />
</BaseLayout>
